language: php

php:
  - 7.3

addons:
  chrome: stable

install:
  - cp .env.example .env
  - travis_retry composer install --no-interaction --prefer-dist --no-suggest
  - php artisan key:generate

before_script:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
  - cp .env.testing .env
  - composer self-update
  - composer install --no-interaction
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - chmod a+x ./vendor/laravel/dusk/bin/chromedriver-linux
  - ./vendor/laravel/dusk/bin/chromedriver-linux &
  - cp .env.testing .env
  - php artisan serve > /dev/null 2>&1 &

script:
  - vendor/bin/phpunit
  - php artisan dusk
